body{
  margin: 0;
  padding: 0;
  background-image: url(./image/top-view-desk-concept-with-copy-space.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon-btn{
  background-color: transparent;
  border: none;
  padding: 3px;
  border-radius: 3px;
  margin: 0;
}
.icon-btn:hover{
  background-color: #0088c4;
}
.icon-btn:hover i{
  color: white;
}
.icon-wrap{
  width: 16px;
  height: 16px;
}
i{
  margin: 0;
  padding: 0;
  cursor: pointer;
  /* background-color: black; */
  color: #000;
}
div{
  margin: 0;
  padding: 0;
}
.link-container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 30px 100px;
}
.link-container a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
input,option,select,textarea{
  background-color: rgb(154, 154, 154);
  color: white;
  line-height: 30px;
  width: 100%;
  border-radius: 3px;
  border: grey;
  margin-bottom: 10px;
}
input{
  width: 99% !important;
}
select{
  height: 30px;
}

.table{
  border-collapse: collapse;
  padding: auto;
  /* border: 2px solid #383838; */
}
.btn-container{
  display: flex;
  flex-direction: row;
  margin-top:10px;
  justify-content: space-evenly;
}

.btn{
  padding: 5px 10px;
  border-radius: 3px;
  /* margin: 5px; */
  width: 100%;
}
.btn:hover{
  cursor: pointer;
  background-color: blue;
  color: white;
}
.delete-btn:hover{
  background-color: rgb(79, 79, 79);
}
span{
  color: white;
  font-weight: bold;
  text-decoration: none !important;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.form-container form{
  background-color: #FFF;
  border: 2px solid #ddd;
  color: black;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(143, 141, 141, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.table{
  border-collapse: separate;
  border-spacing: 0;
  padding: auto;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0 4px 8px rgba(143, 141, 141, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  /* border: 2px solid #383838; */
}
.table th,td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.tag-btn{
  justify-self: start;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: #0088c4;
  border: 2px solid #ddd;
  color: white;
  margin-bottom: 20px;
  align-self: flex-start;
  cursor: pointer;
}
.tag-btn:hover{
  border: 2px solid #0088c4;
  background-color: #fff;
  color: #0088c4;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}